1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

    values are: hello, -87.8 and 6 
    expressions are: *,-,/,+
        
2. What is the difference between string and variable?
   
  Variable is the value which we assign to be used in our code.
  
  String is a variable type which is assigned inside single or double quotes which can be numbers, alphabets or special characters. eg "Python", 'coding',"data"
  
3. Describe three different data types.

  int,float and str 
  
  int takes only integer values eg.1,3,5,7. 
  
  float takes decimal point numbers like 3.14, 9.8 
  
  str takes values inside quotes eg. 'python', "1234"
  
4. What is an expression made up of? What do all expressions do?

  An expression is made up of values, variables and operators. Value alone and variables alone are also considered
  as  expressions. Expressions returns a value eg. 'learn'+'python' returns 'learnpython'
  
  
5. In this assignment statement, like spam = 10. What is the difference between an expression and a statement? 

  spam=10. This is an 'assignment statement' where 10 is assigned to the variable spam. Upon execution it doen't return 
  any  value. "spam" and 10 are expressions and an expression always returns a value. A statement is made of 
  several expressions but does not return a value"

In [3]:
spam = 10 # assignment statement

In [4]:
spam  # expression

10

6. After running the following code, what does the variable bacon contain? 
   bacon=22 
   bacon+1

In [5]:
bacon = 22
bacon + 1

23

In [3]:
bacon

22

7. What should the values of the following two terms be?
   'spam'+'spamspam'
    'spam'*3

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
 
  In python a variable name can't begin with a number. Hence eggs is a valid variable name and 100 is invalid but eggs100 is 
  a valid variable name

9.  What three functions can be used to get the integer, floating-point number, or string
    version of a value?
    
    
   int(), float(), str()

10. Why does this expression cause an error? How can you fix it? 'i have eaten'+ 99 + 'burritos'

  Since 99 is an integer, it cannot be concatenated to strings"

In [12]:
'i have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [14]:
'i have eaten'+' 99 '+'burritos'

'i have eaten 99 burritos'

We have to typecast 99 which is an integer into string to do concatenation.